<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>
  
  <p>
    Splurty was built by <a target="_blank" href="http://github.com/iandelible">Ian</a>  
    a web developer who is on a mission to make the world a better place through coding. 
  </p>
  <br />
  <p>
    I have learned to code and build Ruby on Rails applications through the Firehose Project.
  </p>
  <p>
    If you want to learn how to code and don't know where to start I recommend: <a target="_blank" href="http://www.thefirehoseproject.com/">the Firehose Project</a>.
  </p>
  
  <div>
    <div class="col-xs-12 col-sm-4 ">
      <%= image_tag 'Daebudopier.JPG', class: 'img-responsive' %>
    </div>
  
    <div class="col-xs-12 col-sm-7 col-sm-offset-1">
      <h2 class="text-center">Ian Pan</h2>
      <br />
      <p>
        Ian Pan is a junior web developer. In the past, he did research on light pre-pulse inhibition of the startle reflex and on polyclonal tumors in mammalian intestines.
        Traveling is one of his passions and has visited 15 countries thus far. Other hobbies include but not limited to: remodel projects, ultimate frisbee, basketball, tennis, EDC gadgets, and the list continues.   
      </p>
      <p>
        Since this is a quote generator website, my quote is: 
        <br/>
        <br/>
        <i>
          "But we speak God's wisdom in a mystery, the wisdom which has been hidden, which God predestined before the ages for our glory" 1 Corinthians 2:7
        </i>
      </p>
    </div>
  </div>
  <br class="clear" />

  
</div>

<br class="clear" />
<br />
<br />
<br />
<br />